*{
    margin:0;
    padding: 0;
    background-color: rgb(200, 204, 204);
    text-align: center;
}

h1{
margin-top: 50px;
}

input
{
    margin-top: 20px;
    margin: 10px;
    padding: 2px;
    margin-left: 10px;
    text-align: center;
    background-color: antiquewhite;
    box-shadow: 1px 4px 20px 6px #ffffff;
}

button
{
    margin: 100px;
    text-align: center;
    background-color: antiquewhite;
    width: 70px;
    box-sizing: border-box;
    box-shadow: 4px 4px 20px 8px aliceblue;
    border-width: medium;
}
#print
{

background: coral;

width: 50%;

margin-left: 26%;

border-radius: 20px;
}
